body{
position: relative
		  font-family:  '微軟正黑體', sans-serif;
	  text-decoration: none;
position:relative;
	 z-index:-100;
width : 1360px;
background:
	url(http://subtlepatterns.com/patterns/dimension.png)     repeat;
}

a{
	text-decoration : none;
}

li{
	list-style:none;
}

header{
	margin-bottom : 1em;
	border-radius: 0.5em;
padding :0.5em;
background:
	 url(http://subtlepatterns.com/patterns/moulin.png);
}

header a{
color : gray;
}

.three{
float :right;
color:white;
}

header h2{
	font-size:3em;
color: rgb(180,180,180);
}

.box {  
float: left;
padding: 1em 0.5em 8.5em;
	 background-color: gray;
	 border-radius: 0.5em; 
}

.subtitle{
	list-style : none;
	font-size : 1.5em;

}

.subdetail{
	line-height: 3;
	font-family:  '微軟正黑體', 'LiHei Pro', sans-serif;
	text-align: center;
margin : 0.5em;
color : white;
}

.link{
position:absolute;
right:0;
top:160;
margin :2em;
padding : 2em;
	  background-color: #D4E6F8;
	  border-radius: 0.5em; 
}

.latest{
margin : 1px;
}
.list{
	font-size : 1.5em;
	font-family:  '微軟正黑體', 'LiHei Pro', sans-serif;
margin:0.5em;
}

.each a{
	font-size:1.3em;
padding:2em;
margin :1em;
color:brown;
}

footer{
	padding-top: 1px;
clear: both;
       text-align :center;
}

